{% load static %}

{% block body %}

{% include 'job/admin_navigation.html' %}

<script>
    function checkpass(){
        if(document.changepassword.newpassword.value != document.changepassword.confirmpassword.value){
            alert("new password and confirm password field does not match!!!!");
            document.changepassword.confirmpassword.focus();
            return false;
        }
    }
</script>

<marquee behavior="" direction="" style="font-family: cursive; font-size: 25px; color: darkcyan;background-color: black; font-weight: bold; margin-top: 1%;">
    Change Admin Password
</marquee>

<hr>

<form action="" method="POST" class="container mt-5" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label for=""><b>Current Password</b></label>
    <input type="Password" class="form-control" name="currentpassword" required="true">

    <label for=""><b>New Password</b></label>
    <input type="Password" class="form-control" name="newpassword" required="true">

    <label for=""><b>Confirm New Password</b></label>
    <input type="Password" class="form-control" name="confirmpassword" required="true">

    <input type="submit" class="btn btn-primary" style="margin-top: 2%; color: darkcyan; background-color: black; height: 40px;">
</form>

{% include 'job/footer.html' %}

{% ifequal error 'no' %}
    <script>
        alert("your password updated successfully!")
        window.location.replace("{% url 'job:Logout' %}");
    </script>
{% endifequal %}

{% ifequal error 'yes' %}
    <script>
        alert("something went wrong, try again ....");
    </script>
{% endifequal %}

{% ifequal error 'not' %}
    <script>
        alert("your current password is wrong");
    </script>
{% endifequal %}

{% endblock body %}