<html>
    <head>
        {% load static %}
        <title>Job Portal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'job/images/download.jpeg' %}" width="180px;" height="150px;">
                </div>
                <div class="col-sm-4 mt-5">
                    <span style="font-weight: bold; font-size: 30px;">
                        <span style="color:red;">Online Job</span><br>
                        <span style="color:green;">Portal System</span>
                    </span>
                </div>
                <div class="col-sm-4 mt-5" style="padding-left: 10%;">
                    <span style="font-weight: bold; font-size: 30px;">
                        <span><i class="fa fa-twitter pl-1"></i></span>
                        <span><i class="fa fa-linkedin pl-1"></i></span>
                        <span><i class="fa fa-instagram pl-1"></i></span>
                        <span><i class="fa fa-telegram pl-1"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>