{% load static %}

{% block body %}

{% include 'job/user_navigation.html' %}

<marquee behavior="" direction="" style="font-family: cursive; font-size: 25px; color: darkcyan;background-color: black; font-weight: bold; margin-top: 1%;">
    Profile
</marquee>

<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-8">       
            <form action="" name="signup" method="POST" class="mt-5" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" name="fname" value="{{student.user.first_name}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" name="lname" value="{{student.user.last_name}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Conatct</label>
                        <input type="text" class="form-control" name="contact" value="{{student.mobile}}" required>
                    </div>     
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Email ID</label>
                        <input type="email" class="form-control" name="email" value="{{student.user.username}}" readonly required>
                    </div>        
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Gender</label>
                        {% if student.gender == "Male" %}
                        <div style="border: 1px solid lightgray; padding: 6px; border-radius: 6px;">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="gender" class="custom-cotnrol-input" value="Male" checked>
                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="gender" class="custom-cotnrol-input" value="Female">
                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                            </div>
                        </div>
                        {% else %}
                        <div style="border: 1px solid lightgray; padding: 6px; border-radius: 6px;">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="gender" class="custom-cotnrol-input" value="Male">
                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="gender" class="custom-cotnrol-input" value="Female" checked>
                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Image</label>
                        <input type="file" class="form-control" name="image" accept="image/*" >
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary mt-3" style="width: 200px;">
            </form>
        </div>
        <div class="col-sm-4 mt-5 text-center">
            <img src="{{student.image.url}}" width="300px" height="300px">
        </div>
    </div>
</div>

{% include 'job/footer.html' %}

{% ifequal error 'no' %}
    <script>
        alert("profile updated successfully!")
        window.location("{% url 'job:user_home' %}");
    </script>
{% endifequal %}

{% ifequal error 'yes' %}
    <script>
        alert("something went wrong, try again ....");
    </script>
{% endifequal %}

{% ifequal error 'not' %}
    <script>
        alert("your login status is pending");
    </script>
{% endifequal %}



{% endblock body %}